<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pics N Gifs</title>
    {# Bootstrap CSS #}
    <link rel="stylesheet" href="{{ base_url() }}/css/dep/bootstrap.css">
    {# Dark Bootstrap Theme #}
    <link rel="stylesheet" href="{{ base_url() }}/css/dep/bootstrap-cyborg.css">
    {# Font Awesome #}
    <link rel="stylesheet" href="{{ base_url() }}/css/dep/font-awesome.min.css">
    {# Custom Styles #}
    <link rel="stylesheet" href="{{ base_url() }}/css/app.css">
</head>

<body>
    
    {# Include the Navbar #}
    {% include 'templates/partials/navigation.twig' %}

    {% include 'templates/partials/app-banner.twig' %}
    

    {# Jquery and Bootstrap javascript files #}
    <script src="{{ base_url() }}/js/dep/jquery-3.2.1.min.js"></script>
    <script src="{{ base_url() }}/js/dep/bootstrap.js"></script>

    {# Main Container and the flash Box #}
    <div class="container">
        {% include 'templates/partials/flash.twig' %}        
        {# Allow to extend and insert other twig files in here #}
        {% block content %}{% endblock %}
    
</body>

</html>